<h1>Plot Index Page</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot Number: <%= plot.number %></h3>
    <br> 
    <% plot.plants.each do |plant| %>
      <div id="plant-<%= plant.id %>">
        <p><%= plant.name %></p><%= link_to "Remove Plant", "/plantplots/#{plant.id}/delete", method: :delete %>
      </div>  
    <% end %>
  </div>
<% end %>